# OS X files
*.DS_Store

# emacs files
*~

# R
.Rproj.user
.Rhistory
*.RData
*.Rout
*.Rcheck

inst/doc
docs/

# compiled object files
*.so
*.slo
*.lo
*.o
*.obj
*.dll

# package artifacts
*.tar.gz

# clion files
.idea/

# temporary files
tmp_*
